<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am an Applied Math Researcher finishing up a Masters in Mathematics.  Previously I have completed numerous research projects as well as taught High School students.  While teaching I focused on conveying complex mathematical concepts in engaging and understandable ways. <br/><br/>
			I enjoy learning, and applying my learning to create new products which provide insights.  I enjoy working in a collaborative environment with a focus on creating and solving problems. 
		</div>
		<br>
	</div>
</div>
